* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
}
.menu {
    margin: auto;
    width: 30rem;
    display: flex;
    justify-content: center;
}
.menu > ul {
    display: flex;
}
.menu > ul > li {
    list-style: none;
    margin:1rem;
}

button {
    background:none;
    border:none;
}

#titulo {
    width: 40%;
}

#titulo > p {
    margin: 1rem 0;
}
