#centro {
  display: flex;
  justify-content: space-between;
  max-width: 56rem;
  margin: auto;
  padding: 3rem;
  padding-top: 1rem;
}

.watch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    width: 350px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
.watch div {
  height: 180px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #502F49;
  background:rgba(255, 255, 255, 0.61);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18); 
}

.watch span {
  font-weight: bold;
  font-size: 70px;
}

.watch span.time {
  font-size: 15px;
}