#conteiner_materias, #select_materias {
  display: flex;
}

#conteiner_materias #select_materias .nome_materia, #conteiner_materias #bt_nova_materia {
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
}

.materia_selecionada {
  background-color: lightgray;
}

.ql-container {
  height: auto;
}

#caderno .ql-editor {
  padding: 20px;
  height: 300px;
  overflow-y: hidden;
}

#show-numero-pg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
