    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.django {
    display: none;
}

body {
    background: #FFFFFF;
}

:root {
    --tamanho_header: 7rem;
    --tamanho_cantos_header: 15rem;
}


/* ---------------- PADROES ----------------- */

.cima a, .poppins{
    color: black;
    font-family: 'Poppins', "Source Sans 3", sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.04rem;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    border: 2px solid #000000;
    border-radius: 2rem;
    font-size: 1rem;
}

/*
|------------------------------------------------|
|------------------------------------------------|
|                    CIMA                        |
|------------------------------------------------|
|------------------------------------------------|
*/

.cima{
    height: 100vh;
}

.fundo_grade {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: -22%;
    transform: translate(-50%, 0);
    width: 70vw;
    height: 70vw;
}

/* ----------------- HEADER ------------------ */

header {
    height: var(--tamanho_header);
    display: flex;
    align-items: center;
}


/* LOGO */

.interface .logo {
    width: var(--tamanho_cantos_header);
}

.logo img {
    width: 100%;
}

/* LINKS HEADER */

header .interface {
    display: inline-flex;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

header ul{
    display: flex;
}

header ul li {
    display: inline-block;
    padding: 0 40px;
    cursor:pointer;

    
}

/* BOTAO CADASTRO */

header .espaco_cadastro {
    display: flex;
    justify-content: center;
    width: var(--tamanho_cantos_header);
}

header .botao_cadastro{
    display: inline-flex;
    padding: 0.7rem 2rem;
}   

/* --------------- MAIN ------------- */

main {
    display: flex;
    height: calc(100vh - var(--tamanho_header));
}

/* TITULO */

.titulo {
    margin: auto 0;
    padding: 0 0 0 8vw;
    width: 50vw;
}

.titulo .suplency_titulo_gradiente {
    display: inline;
    font-size: 7vw;
    line-height: 7vw; 
    background: linear-gradient(245deg, #0A9A5A 16%, #0BCB9C 50%, #1E82FF 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.titulo .studyplataform_titulo {
    font-size: 5.5vw;
    line-height: 5.5vw;  
}

.titulo .texto_introducao {
    text-indent: 1rem;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    font-family: 'Source Sans Pro';
    line-height: 150%;
    letter-spacing: -0.03em;
}

.titulo .botoes_titulo {
    display: flex;
    margin: 0 auto;
}

.titulo .botao_preto {
    font-size: 1.2rem;
    background-color: black;
    display: inline-flex;
    padding: 0.8rem 1rem;
}

.titulo .botao_preto a {
    color: white;
}

.titulo .botao_branco {
    font-size: 1.2rem;
    display: inline-flex;
    margin: 0 0 0 2rem;
    padding: 0.8rem 1rem;
}

/* DESENHO */

.desenho {
    width: 50vw;
    padding: 0 3vw 3vw 3vw;
    align-items: center;
    justify-content: center;
}
.desenho img {
    width: 100%;
}

/*
|------------------------------------------------|
|------------------------------------------------|
|                     MEIO                       |
|------------------------------------------------|
|------------------------------------------------|
*/

.meio {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0 2vw;
    background-color: rgb(214, 214, 238);
    background: #22272E;
    border: 1px solid #B8D8C7;
}

/* ----------- PRODUTOS SUPLENCY ------------- */

.produtos_suplency {
    margin: 4vw 0;
}

.titulo_produtos_suplency{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 5rem 0;
}

.grid_produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    margin-bottom: 1rem;
    width: 85vw;
    gap: 5vw;
}

.grid_produtos .produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2vw;
    text-align: center;
    border: 0.914005px solid #B8D8C7;
    border-radius: 20px;
}

.grid_produtos .produto img{
    background-color: #1B99D4;;;
    border-radius: 3rem;
    width: 6rem;
    height: 6rem;
}

.grid_produtos .produto h1 {  
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.8rem;  
    margin: 2rem 0 1.5rem 0;
}

.grid_produtos .produto p {
    font-family: 'Source Sans Pro';
    line-height: 150%;
    font-size: 1.45rem;  
}

/*
|------------------------------------------------|
|------------------------------------------------|
|                    BAIXO                       |
|------------------------------------------------|
|------------------------------------------------|
*/

/* ------------------- ANEXOS ------------------*/

.anexos {
    font-family: 'Rubik';
    display: flex;
    margin: 7vh 0 20vh 0;
    width: 100%;
    font-size: 1.4rem;

}

/* NAVEGAR */

.navegar {
    display: flex;
    width: 40rem;
}

.navegar_suplency {
    width: 10rem;
    margin: auto;
    margin-top: 20vh;
}

.navegar_suplency li {
    line-height: 2rem;
}

.redes_sociais {
    width: 27vw;
    padding: 3vw;
}

.redes_sociais .logo {
    width: 20vw;
}

.redes_sociais .conteudo {
    padding: 0 2.5vw;
}

.links_redes_sociais {
    display: flex;
}

.links_redes_sociais .link img{
    width: 3rem;
}

/* SUPORTE */

.suporte {
    margin: auto;
}

.titulo_suporte {
    font-size: 2.6rem;
}

.caixa_input {
    all: unset;
    border: 3px solid black;
    border-radius: 40px;
    width: 20rem;
    padding: 1rem 1.5rem;
}

/*------*/
.baixo hr {
    background: black;
    height: 3px;
    margin-bottom: 8vh;
}