<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- FontAwesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />


    <link rel="stylesheet" href="../../../static/css/caderno.css">
    <script defer async src="../../../static/js/caderno.js"></script>

    <link rel="stylesheet" href="{% static 'css/flash_cards.css'%}">
    <link rel="stylesheet" href="{% static 'css/pomodoro.css'%}">

    <script defer async src="{% static "js/pomodoro.js" %}"></script>
    <script defer async src="{% static "js/flash_cards.js" %}"></script>
    <script defer async src="{% static "js/caderno.js" %}"></script>

    <title>estudando...</title>
</head>
<body>
    <!-- Método pomodoro -->

    <div class="pomodoro">
        <div id="timer">00:00</div>
        <button id="start/stop">Iniciar</button>
        <button id="continuar">continuar</button>
        <label for="tp_foco">
            <p>Digite o tempo de foco:</p>
            <input id="tp_foco" type="number" min="0" default="0">
        </label>
        <label for="tp_pausa">
            <p>Digite o tempo de pausa:</p>
            <input id="tp_pausa" type="number" min="0" default="0">
        </label>
        <label for="tp_pausa_longa">
            <p>Digite o tempo da pausa longa</p>
            <input id="tp_pausa_longa" type="number" min="0" default="0">
        </label>
        <label for="focos_ate_pausa_longa">
            <p>Digite o numero de focos até a pausa longa</p>
            <input id="focos_ate_pausa_longa" type="number" min="1" default="1">
        </label>
    </div>

    <!-- Flash cards -->

    <div class="nav">
        <h1>SUPLENCY</h1>
        <div class="Criar">
            <button onclick="create()">Criar novo</button>
            <button onclick="removeAll()">Excluir todos</button>
            <button onclick="play()">Play</button>
        </div>
    </div>
  
    <div class="card-form">
        <div class="card-form-box">
            <h2>Flashcard novo</h2>
            <input type="text" id="question" placeholder="Pergunta..." />
            <input type="text" id="answer" placeholder="Resposta..." />
            <div class="btns">
                <button onclick="save()">Salvar</button>
                <button onclick="cancel()">Cancelar</button>
            </div>
        </div>
    </div>
  
    <div class="flashcards"></div>
      
    <!-- Bloco de notas -->

    <div class="container">
        <div class="options">
          <!-- Text Format -->
          <button id="bold" class="option-button format">
            <i class="fa-solid fa-bold"></i>
          </button>
          <button id="italic" class="option-button format">
            <i class="fa-solid fa-italic"></i>
          </button>
          <button id="underline" class="option-button format">
            <i class="fa-solid fa-underline"></i>
          </button>
          <button id="strikethrough" class="option-button format">
            <i class="fa-solid fa-strikethrough"></i>
          </button>
          <button id="superscript" class="option-button script">
            <i class="fa-solid fa-superscript"></i>
          </button>
          <button id="subscript" class="option-button script">
            <i class="fa-solid fa-subscript"></i>
          </button>
          <!-- List -->
          <button id="insertOrderedList" class="option-button">
            <div class="fa-solid fa-list-ol"></div>
          </button>
          <button id="insertUnorderedList" class="option-button">
            <i class="fa-solid fa-list"></i>
          </button>
          <!-- Undo/Redo -->
          <button id="undo" class="option-button">
            <i class="fa-solid fa-rotate-left"></i>
          </button>
          <button id="redo" class="option-button">
            <i class="fa-solid fa-rotate-right"></i>
          </button>
          <!-- Link -->
          <button id="createLink" class="adv-option-button">
            <i class="fa fa-link"></i>
          </button>
          <button id="unlink" class="option-button">
            <i class="fa fa-unlink"></i>
          </button>
          <!-- Alignment -->
          <button id="justifyLeft" class="option-button align">
            <i class="fa-solid fa-align-left"></i>
          </button>
          <button id="justifyCenter" class="option-button align">
            <i class="fa-solid fa-align-center"></i>
          </button>
          <button id="justifyRight" class="option-button align">
            <i class="fa-solid fa-align-right"></i>
          </button>
          <button id="justifyFull" class="option-button align">
            <i class="fa-solid fa-align-justify"></i>
          </button>
          <button id="indent" class="option-button spacing">
            <i class="fa-solid fa-indent"></i>
          </button>
          <button id="outdent" class="option-button spacing">
            <i class="fa-solid fa-outdent"></i>
          </button>
          <!-- Headings -->
          <select id="formatBlock" class="adv-option-button">
            <option value="H1">H1</option>
            <option value="H2">H2</option>
            <option value="H3">H3</option>
            <option value="H4">H4</option>
            <option value="H5">H5</option>
            <option value="H6">H6</option>
          </select>
          <!-- Font -->
          <select id="fontName" class="adv-option-button"></select>
          <select id="fontSize" class="adv-option-button"></select>
          <!-- Color -->
          <div class="input-wrapper">
            <input type="color" id="foreColor" class="adv-option-button" />
            <label for="foreColor">Font Color</label>
          </div>
          <div class="input-wrapper">
            <input type="color" id="backColor" class="adv-option-button" />
            <label for="backColor">Highlight Color</label>
          </div>
        </div>
        <div id="text-input" contenteditable="true"></div>
    </div>

    <a href="{% url "logout" %}">logout</a>
</body>
</html>