{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">

    <link rel="stylesheet" href="../../../static/css/caderno.css">
    <link rel="stylesheet" href="../../../static/css/pomodoro.css">
    
    <!--
    <link rel="stylesheet" href="{% static "css/pomodoro.css" %}">
    <script defer async src="{% static "js/pomodoro.js" %}"></script>
    <script defer async src="{% static "js/flash_cards.js" %}"></script>
    <script defer async src="{% static "js/caderno.js" %}"></script>
    -->
    <title>estudando...</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <!-- Método pomodoro -->

    <div class="pomodoro">
        <div class="watch">
            <div>
              <span id="minutes">00</span>
              <span class="time">Minutos</span>
            </div>
      
            <div>
              <span id="seconds">00</span>
              <span class="time">Segundos</span>
            </div>
        </div>
        <div><span id="estado_timer"></span></div>
        <button id="start/stop">Iniciar</button>
        <button id="continuar">continuar</button>
        <label for="tp_foco">
            <p>Digite o tempo de foco:</p>
            <input id="tp_foco" type="number" min="0">
        </label>
        <label for="tp_pausa">
            <p>Digite o tempo de pausa:</p>
            <input id="tp_pausa" type="number" min="0">
        </label>
        <label for="tp_pausa_longa">
            <p>Digite o tempo da pausa longa</p>
            <input id="tp_pausa_longa" type="number" min="0">
        </label>
        <label for="focos_ate_pausa_longa">
            <p>Digite o numero de focos até a pausa longa</p>
            <input id="focos_ate_pausa_longa" type="number" min="1">
        </label>
    </div> 
      
    <!-- Bloco de notas -->
    <div id="conteiner_materias">
        <div id="select_materias">
        </div>
        <div id="bt_nova_materia">+</div>
    </div>
    <div id="toolbar">
        <span class="ql-formats">
            <select class="ql-font"></select>
            <select class="ql-size"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-script" value="sub"></button>
            <button class="ql-script" value="super"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-blockquote"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-direction" value="rtl"></button>
            <select class="ql-align"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-clean"></button>
          </span>
      </div>
    <div id="caderno">
    </div>
    <div>
        <button id="prev-page">prev</button>
        <button id="next-page">next</button>
        <button id="new-page">new</button>
        <div id="show-numero-pg">1</div>
    </div>

    <a href="{% url "logout" %}">logout</a>
    <script src="../../../static/js/pomodoro.js"></script>
    <script src="../../../static/js/caderno.js"></script>
</body>
</html>