{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta id="csrf_token" content="{{ csrf_token }}">
    <meta id="link_load_flashcard" content="{% url "load_flashcard" %}">
    <meta id="link_save_flashcard" content="{% url "save_flashcard" %}">
    

    <link rel="stylesheet" href="{% static "css/flashcard.css" %}" />

    <script defer async src="{% static "js/flashcard.js" %}"></script>

    <title>Flashcards</title>
  </head>
  <body>
    <div class="nav">
      <h1>SUPLENCY</h1>
      <div class="Criar">
        <button onclick="create()">Criar novo</button>
        <button onclick="removeAll()">Excluir todos</button>
      </div>
    </div>

    <div class="card-form">
      <div class="card-form-box">
        <h2>Flashcard novo</h2>
        <input type="text" id="question" placeholder="Pergunta..." />
        <input type="text" id="answer" placeholder="Resposta..." />
        <div class="btns">
          <button onclick="save()">Salvar</button>
          <button onclick="cancel()">Cancelar</button>
        </div>
      </div>
    </div>

    <div class="flashcards"></div>
    
  </body>
</html>