<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/home.css">
    <link rel="stylesheet" href="{% static "css/home.css"%}">
    <!--

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'">
    -->
    <title>suplency</title>
</head>
<body>



    <header>

        <div class="interface">

            <div class="logo">
                <a href="#">
                    <img src="" alt=""> <!--Colocar imagem da logo-->
                </a>
            </div> <!--Logo-->

            <nav class="menu_desktop">

                <ul>
                    <li><a>Suporte</a></li>
                    <li><a>Como usar?</a></li>
                    <li><a>Quem somos?</a></li>
                    <li onclick="window.location.href='{% url "login"%}'"><a>Login</a></li>
                </ul>

            </nav> <!--Menu desktop-->


            <div class="botao_cadastro">

                <a onclick="window.location.href='{% url "singin"%}'"> Cadastre-se </a>
               
            </div> <!--Botão Cadastre-se-->

        </div> <!--Interface-->

       
        
    
       


    </header>





    <main>
        <div id="titulo">
            <h1 id="suplency_titulo_gradiente">Suplency</h1>
            <h2 id="studyplataform_titulo">Study Plataform</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat et itaque nobis necessitatibus mollitia ea nemo commodi. Dignissimos, odit vitae, ut ex in minus magni et perferendis, minima molestiae repudiandae.</p>
            <div id="botoes_titulo">
                <button class="botão_preto"  onclick="window.location.href='{% url "estudo"%}'"><a >Comece Agora!</a></button>
                <button class="botão_branco" onclick="window.location.href='{% url "login"%}'"><p>Login</p></button>
            </div>

            
        </div><!--tamanho da interface-->









        
    </header>


    <main>





    </main>


</body>
</html>