<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <script defer async src="js/home.js"></script>
    <title>suplency</title>
</head>
<body>
    <header>
        <button><p>Suplency</p></button>
        <nav class="menu">
            <ul>
                <li>Suporte</li>
                <li>Como usar?</li>
                <li>Quem somos?</li>
                <li>Login</li>
            </ul>
        </nav>
        <button><P>Cadastre-se</P></button>
    </header>
    <main>
        <div id="titulo">
            <h1>Suplency</h1>
            <h2>Study Plataform</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat et itaque nobis necessitatibus mollitia ea nemo commodi. Dignissimos, odit vitae, ut ex in minus magni et perferendis, minima molestiae repudiandae.</p>
            <div id="botoes_titulo">
                <button class="botão_preto"><p>Comece Agora!</p></button>
                <button class="botão_branco"><p>Login</p></button>
            </div>

        </div>
    </main>
</body>
</html>