<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/home.css">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <title>suplency</title>
</head>
<body>
    <header>
        <button id="botao_suplency"><p>Suplency</p></button>
        <nav class="menu">
            <ul>
                <li>Suporte</li>
                <li>Como usar?</li>
                <li>Quem somos?</li>
                <li onclick="window.location.href='{% url "login"%}'">Login</li>
            </ul>
        </nav>
            </div>
        <button class="botão_branco" id="botao_cadastre-se" onclick="window.location.href='{% url "singin"%}'"><P>Cadastre-se</P></button>
    </header>
    <main>
        <div id="titulo">
            <h1 id="suplency_titulo_gradiente">Suplency</h1>
            <h2 id="studyplataform_titulo">Study Plataform</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat et itaque nobis necessitatibus mollitia ea nemo commodi. Dignissimos, odit vitae, ut ex in minus magni et perferendis, minima molestiae repudiandae.</p>
            <div id="botoes_titulo">
                <button class="botão_preto"  onclick="window.location.href='{% url "estudo"%}'"><a >Comece Agora!</a></button>
                <button class="botão_branco" onclick="window.location.href='{% url "login"%}'"><p>Login</p></button>
            </div>

        </div>
    </main>
</body>
</html>