<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/login.css">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <script src="#" defer async></script>
    <title>log-in</title>
</head>
<body>
    <section class="login">
        <form method='POST' class="login">
            <input type="email" id="email" placeholder="E-mail ou usuário">
            <input type="text" id="senha" placeholder="Senha">
            <button type='submit' id="entrar">Sign-in</button>
            <a href="{% url "singin"%}">Não tem uma conta? Crie Aqui!</a>
        </form>
    </section>
</body>
</html>