<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <script src="#" defer async></script>
    <title>sing-in</title>
</head>
<body>
    <section id="login">
        <form method='POST' class="login">
            <input type="email" id="email" placeholder="E-mail">
            <input type="text" id="nome" placeholder="Usuário">
            <input type="text" id="senha" placeholder="Senha">
            <input type="text" id="confirmar" placeholder="Confirmar Senha">
            <button type='submit' id="entrar">Sign-in</button>
            <a href="#">Já tem uma conta? Crie Aqui!</a>
        </form>
    </section>
</body>
</html>